*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: var(--app-padding);
	border-radius: var(--app-border-radius);
	background-color: var(--app-background-color);
	background-image: var(--app-background-image);
	background-size: cover;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	margin-bottom: var(--header-margin-bottom);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--header-border-radius);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
	background-color: var(--header-background-color);
	font-family: var(--header-font-family, "arial");
	color: var(--header-font-color);
	font-size: var(--header-font-size);
	font-weight: var(--header-font-weight);

	/* glass affect only work on Safari */
	/* will break on chrome */
	/* -webkit-backdrop-filter: blur(3px); */
}

.task-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--card-gap-between);
	overflow: hidden;
	height: 100%;
	background-color: var(--body-background-color);
}

.task-container {
	display: flex;
	flex-direction: column;
	gap: var(--card-gap-between);
}

.card {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--card-border-radius);
	background-color: var(--card-background-color);
	margin: 0 1px;
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
	font-family: var(--card-font-family, "arial");

	/* glass affect only work on Safari */
	/* will break on chrome */
	/* -webkit-backdrop-filter: blur(3px); */
}

.username {
	overflow: hidden;
	width: fit-content;
	padding: 24px 24px 6px 24px;
	max-width: 80%;
	color: var(--username-color);
	font-size: var(--username-font-size);
	font-weight: var(--username-font-weight);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.user-task-list {
	list-style-position: inside;
	padding: 0 24px 24px 24px;
}

.task {
	font-size: var(--task-font-size);
	color: var(--task-font-color);
	font-weight: var(--task-font-weight);
}

.done {
	color: var(--task-done-font-color);
	text-decoration-line: line-through;
}
