:root {
	/* fonts available @ https://fonts.google.com */
	--header-font-family: Roboto Mono;
	--card-font-family: Roboto Mono;

	/* App Styles */
	--app-border-radius: 5px;
	--app-padding: 8px;
	--app-bg-image: url(../public/transparent-background.png);
	--app-background-color: rgb(183, 183, 183, 1);

	/* Header */
	--header-border-radius: 5px;
	--header-margin-bottom: 10px;
	--header-background-color: rgba(0, 142, 57, 0.2);
	--header-font-size: 24px;
	--header-font-color: white;
	--header-font-weight: lighter;

	/* Body */
	--body-background-color: rgba(0, 77, 0, 0);

	/* Card */
	--card-gap-between: 10px;
	--card-border-radius: 5px;
	--card-background-color: rgba(0, 142, 57, 0.2);

	/* User Name */
	--username-font-size: 22px;
	--username-color: #ffffff;
	--username-font-weight: lighter;

	/* User Task */
	--task-font-size: 18px;
	--task-font-color: #ffffff;
	--task-font-weight: lighter;
	--task-done-font-color: #2e2e2e;
}
