:root {
	/* fonts available @ https://fonts.google.com */
	--header-font-family: Inconsolata;
	--body-font-family: Inconsolata;

	/* App Styles */
	--app-background-color: #00000000;
	--app-border-color: #00000000;
	--app-border-width: 10px;
	--app-border-radius: 4px;
	--app-padding: 0px;

	/* Header */
	--header-border-width: 0px;
	--header-border-color: black;
	--header-border-radius: 4px;
	--header-background-color: rgba(0, 0, 0, 0.8);
	--header-font-size: 20px;
	--header-font-color: white;
	--header-margin-bottom: 10px;
	--header-padding: 10px;

	/* Body */
	--body-border-color: #00000000;
	--body-border-width: 1px;
	--body-border-radius: 4px;
	--body-background-color: #00000000;

	/* Card */
	--card-font-size: 18px;
	--card-font-color: #ffffff;
	--card-background-color: rgba(0, 0, 0, 0.6);
	--card-border-color: #1f6900;
	--card-border-width: 0px;
	--card-border-radius: 4px;
	--card-margin-bottom: 10px;
	--card-padding: 10px;

	/* Done task */
	--done-task-font-color: #2e2e2ecf;

	/* Username */
	--username-color: #ffffff;
	--username-max-width: 80%;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: white;
}
