#main-container {
	display: flex;
	flex-direction: column;
	height: var(--task-list-height);
	border: solid;
	border-color: var(--task-list-border-color);
	border-width: var(--task-list-border-width);
	border-radius: var(--task-list-border-radius);
	padding: var(--task-list-padding);

	background: var(--task-list-background-color);
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: var(--header-height);

	font-family: var(--header-font-family);

	border: solid;
	border-color: var(--header-border-color);
	border-width: var(--header-border-width);
	border-radius: var(--header-border-radius);

	padding: var(--header-padding);

	background: var(--header-background-color);
	color: var(--header-font-color);
}

#command-title {
	font-weight: normal;
	font-size: var(--header-font-size);
}

#task-title {
	font-size: var(--tasks-number-font-size);
}

.task-wrapper {
	background: var(--body-background-color);
	font-family: var(--body-font-family);

	border: solid;
	border-color: var(--body-border-color);
	border-width: var(--body-border-width);
	border-radius: var(--body-border-radius);

	padding: var(--body-vertical-padding) var(--body-horizontal-padding);

	display: flex;
	height: 100%;
	z-index: 1;
	position: relative;

	overflow: hidden;
}

.task-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	z-index: -1;
}

/* INDIVIDUAL TASKS */
.done {
	color: var(--done-task-font-color);
}

.crossed {
	text-decoration-line: line-through;
}

#command-code {
	transition: opacity 500ms;
}

.fade {
	opacity: 0;
}

.username-div {
	display: flex;
	flex-direction: row;
}

.task-div {
	display: flex;
	flex-direction: var(--task-direction);

	font-size: var(--task-font-size);
	color: var(--task-font-color);

	border: solid;
	border-color: var(--task-border-color);
	border-width: var(--task-border-width);
	border-radius: var(--task-border-radius);
	margin-bottom: var(--task-margin-bottom);
	padding: var(--task-padding);
}

.task-div:not(.done-task-div) {
	background-color: var(--task-background-color);
}

.task-div.done-task-div {
	background-color: var(--done-task-background-color);
}

.secondary {
	display: none;
}

.username {
	color: var(--username-color);
	font-weight: bold;
	width: fit-content;
	max-width: var(--username-max-width);
	white-space: nowrap;

	overflow: hidden;
	text-overflow: ellipsis;
}

.task-div:not(:last-child) {
	margin-bottom: var(--task-margin-bottom);
}

.checkbox {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: start;
	margin-top: var(--check-box-margin-top);
	margin-left: var(--check-box-margin-left);
	margin-right: var(--check-box-margin-right);
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: inline-block;
	position: relative;

	border: solid;
	border-color: var(--check-box-border-color);
	border-width: var(--check-box-border-width);
	border-radius: var(--check-box-border-radius);

	background: var(--check-box-background-color);
	width: var(--check-box-size);
	height: var(--check-box-size);
	margin-right: 5px;

	font-size: var(--font-size);
}

input[type="checkbox"]:checked + label:after {
	content: var(--tick-character);
	color: var(--tick-color);
	font-size: var(--tick-size);
	transform: translateY(calc(var(--tick-translate-y) * -1));

	display: flex;
	justify-content: center;
}

.bullet-point {
	display: flex;
	justify-content: start;
	align-items: start;
	margin-top: var(--bullet-point-margin-top);
	margin-left: var(--bullet-point-margin-left);
	margin-right: var(--bullet-point-margin-right);
}

.colon {
	margin-right: var(--colon-margin-right);
	margin-left: var(--colon-margin-left);
}

.task {
	display: -webkit-box;
	-webkit-line-clamp: var(--number-of-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
	width: max-content;
	max-width: var(--task-max-width);
	margin-left: var(--task-margin-left);
}
