.transition-opacity {
	transition-property: opacity;
}

.duration-600 {
	transition-duration: 600ms;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.absolute {
	position: absolute;
}