:root {
	/* fonts available @ https://fonts.google.com */
	--header-font-family: Roboto Mono;
	--card-font-family: Roboto Mono;

	/* App Styles */
	--app-border-radius: 5px;
	--app-padding: 8px;
	--app-background-image: url(../images/transparent-image.png);
	--app-background-color: rgba(130, 130, 130, 0);

	/* Header */
	--header-display: flex;
	--header-border-radius: 6px;
	--header-margin-bottom: 6px;
	--header-padding: 16px;
	--header-background-color: rgba(45, 45, 45, 0.7);
	--header-font-size: 18px;
	--header-font-color: white;
	--header-font-weight: normal;

	/* Card */
	--card-gap-between: 6px;
	--card-border-radius: 6px;
	--card-background-color: rgba(100, 100, 100, 0.6);
	--card-padding: 16px;

	/* User Name */
	--username-font-size: 18px;
	--username-color: #ffffff;
	--username-font-weight: normal;

	/* User Task */
	--task-font-size: 16px;
	--task-font-color: #ffffff;
	--task-font-weight: normal;

	--task-done-font-color: #aaaaaa;
	--task-done-font-style: italic;
	--task-done-text-decoration: none;
}
